In [1]:
import pandas as pd

In [2]:
povertyline = pd.read_excel('popratio_povertyline_data.xlsx')
urban = pd.read_csv('pop_by_urbanres.csv')

/tmp/ipykernel_85/320103051.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  urban = pd.read_csv('pop_by_urbanres.csv')

- urban and total population ratio
- povertyline

In [3]:
povertyline = povertyline[['GeoAreaName', 'TimePeriod','Value','Age','Location', 'Nature', 'Sex']]

In [4]:
urban = urban[['Country or Area', 'Year', 'Area', 'Sex', 'Value', 'Reliability']]

urban_ratio = urban/total

In [37]:
criteria1 = urban['Area'] == 'Total'
criteria2 = urban['Area'] == 'Urban'
filtered_urban = urban[criteria1 | criteria2]

criteria3 = filtered_urban['Sex'] == 'Both Sexes'
cleaned_urban1 = filtered_urban[criteria3]

criteria4 = cleaned_urban1['Year'] == 2016
criteria5 = cleaned_urban1['Year'] == 2017
criteria6 = cleaned_urban1['Year'] == 2018
criteria7 = cleaned_urban1['Year'] == 2019
criteria8 = cleaned_urban1['Year'] == 2020
criteria9 = cleaned_urban1['Year'] == 2021
criteria10 = cleaned_urban1['Year'] == 2022
cleaned_urban = cleaned_urban1[criteria4|criteria5|criteria6|criteria7|criteria8|criteria9|criteria10]

In [64]:
cleaned_urban = cleaned_urban.drop_duplicates()
cleaned_urban

,Country or Area,Year,Area,Sex,Value,Reliability
0,Afghanistan,2022,Total,Both Sexes,32762836.0,"Final figure, incomplete/questionable reliability"
3,Afghanistan,2022,Urban,Both Sexes,8574372.0,"Final figure, incomplete/questionable reliability"
9,Afghanistan,2021,Total,Both Sexes,32069160.0,"Final figure, incomplete/questionable reliability"
12,Afghanistan,2021,Urban,Both Sexes,8294708.0,"Final figure, incomplete/questionable reliability"
18,Afghanistan,2020,Total,Both Sexes,31390171.0,"Final figure, incomplete/questionable reliability"
...,...,...,...,...,...,...
65458,Tunisia,2020,Total,Both Sexes,11726178.0,"Final figure, incomplete/questionable reliability"
65461,Tunisia,2019,Total,Both Sexes,11638066.0,"Final figure, incomplete/questionable reliability"
65464,Tunisia,2018,Total,Both Sexes,11532077.0,"Final figure, incomplete/questionable reliability"
65467,Tunisia,2017,Total,Both Sexes,11418218.0,"Final figure, incomplete/questionable reliability"
65470,Tunisia,2016,Total,Both Sexes,11292777.0,"Final figure, incomplete/questionable reliability"

In [20]:
# wide_urban = cleaned_urban.pivot(index = 'Area', columns = 'Year', values = 'Value')
# wide_urban = wide_urban.reset_index()

In [74]:
wide_urban = cleaned_urban.pivot_table(index=['Country or Area', 'Year', 'Sex', 'Reliability'], columns='Area', values='Value')

# Reset the index to make columns regular columns
wide_urban = wide_urban.reset_index()

In [75]:
wide_urban

Area,Country or Area,Year,Sex,Reliability,Total,Urban
0,Afghanistan,2016,Both Sexes,"Final figure, incomplete/questionable reliability",27657145.0,6919560.0
1,Afghanistan,2017,Both Sexes,"Final figure, incomplete/questionable reliability",28224323.0,7148224.0
2,Afghanistan,2018,Both Sexes,"Final figure, incomplete/questionable reliability",30075018.0,7507953.0
3,Afghanistan,2019,Both Sexes,"Final figure, incomplete/questionable reliability",30725560.0,7761765.0
4,Afghanistan,2020,Both Sexes,"Final figure, incomplete/questionable reliability",31390171.0,8023928.0
...,...,...,...,...,...,...
1295,Ã…land Islands,2018,Both Sexes,"Final figure, complete",29638.0,11709.0
1296,Ã…land Islands,2019,Both Sexes,"Final figure, complete",29836.5,11711.0
1297,Ã…land Islands,2020,Both Sexes,"Final figure, complete",30005.5,11692.0
1298,Ã…land Islands,2021,Both Sexes,"Final figure, complete",30237.0,11724.0
1299,Ã…land Islands,2022,Both Sexes,"Final figure, complete",30351.5,11749.5

## å°‘äº†å¾ˆå¤šå›½å®¶ðŸ˜­

In [76]:
wide_urban['Urban Ratio'] = wide_urban['Urban'] / wide_urban['Total']
wide_urban.rename(columns = {'Area': 'Number'}, inplace=True)